---
import DevIcon from "devicons-astro";
const { icons, size } = Astro.props;
---

<style>
  .LogoSlider {
    position: relative;
    overflow-x: hidden;
    padding: 2rem 0
  }

  .LogoSlider::after {
    content: "";
    pointer-events: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      to left,
      var(--neutral),
      transparent 10%,
      transparent 95%,
      var(--neutral)
    );
  }

  .Logotrack {
    width: 200%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    animation: scroll 15s linear infinite;
  }

  .iconCont {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .3s;
  }

  .iconCont p {
    margin: 0.5rem;
  }
  .iconCont * {
    pointer-events: none;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
</style>

<div class="LogoSlider">
  <div class="Logotrack">
    {
      icons.map(
        (icon: { name: string; variant: any; src: string | undefined }) => {
          const title = icon.name.charAt(0).toUpperCase() + icon.name.slice(1);
          const path = `./src/images/${icon.src}`;
          return (
            <div class="iconCont">
              {icon.variant ? (
                <DevIcon name={icon.name} variant={icon.variant} size={size} />
              ) : (
                <img
                  src={path}
                  alt={icon.name + " logo"}
                  width="32"
                  height="32"
                />
              )}
              <p>{title}</p>
            </div>
          );
        }
      )
    }
  </div>
</div>

<script>
  const tracks = document.querySelectorAll<HTMLElement>(".Logotrack");
  // Duplicate icons Nodes for the infinite loop
  tracks.forEach((track) => {
    const logos = track.childNodes;
    logos.forEach((logo) => {
      const clone = logo.cloneNode(true) as HTMLElement;
      clone.ariaHidden = "true";
      track.appendChild(clone);
    });
  });
  // Hover animation on icons
  tracks.forEach((track) => {
    track.addEventListener("mouseover", (e) => {
      e.preventDefault();
      track.style.animationPlayState = "paused";
      const iconCont = e.target as HTMLElement;
      iconCont.style.scale = "1.5";
      console.log(iconCont)
    });
    track.addEventListener("mouseout", (e) => {
      track.removeAttribute("style");
      const iconCont = e.target as HTMLElement;
      iconCont.removeAttribute("style");
    });
  });
</script>
