---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<style>
  #contactForm {
    font-size: large;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 80%;
    gap: 0.3rem;
    padding: 0 2rem;
  }

  #contactForm label {
    display: none;
  }

  input,
  textarea {
    background-color: var(--neutral);
    width: 100%;
    border: var(--field-border);
    padding: 0.3rem 0;
  }

  input:valid,
  textarea:valid {
    border: 2px outset green;
  }

  input:not(:placeholder-shown):invalid,
  textarea:not(:placeholder-shown):invalid {
    border: 2px outset red;
  }

  #additionnal_info {
    display: none;
  }

  #Message {
    padding: 0;
    height: 5rem;
  }

  #contactSend {
    background-color: var(--neutral);
    padding: 0.25rem 1.25rem;
    margin-bottom: 1rem;
    border: var(--field-border);
  }
</style>
<>
  <form id="contactForm" name="contact form">
    <label for="additionnal_info">Additionnal</label>
    <input type="text" id="additionnal_info" name="additionnal_info" />
    <label for="Name">Name: *</label>
    <input
      type="text"
      id="Name"
      name="contact name"
      placeholder={t('foo.name')}
      minlength="3"
      maxlength="24"
      pattern="[A-Za-z0-9 \\.\\-]+"
      autocomplete="on"
      required
    />
    <label for="Email">Email: *</label>
    <input
      type="email"
      id="Email"
      name="contact email"
      placeholder="Email@mail.com"
      pattern="[a-z0-9._+\\-]+@[a-z0-9.\\-]+\.[a-z]{2,}"
      autocomplete="on"
      required
    />
    <label for="Message">Message: *</label>
    <textarea
      name="message"
      id="Message"
      placeholder={t('foo.message')}
      required></textarea>
    <button id="contactSend" type="submit">{t('foo.send')}</button>
  </form>
</>

<script>
  // set custom validity
  function checkInput(input: HTMLInputElement | HTMLTextAreaElement) {
    // reset
    if (input.validity.customError) {
      input.setCustomValidity("");
    }
    // Text area
    if (input.type === "textarea") {
      const reg = /^[A-Za-z0-9 ?!.,:"-+=%$()\n\r]+$/g;
      const test = reg.test(input.value);
      if (!test) {
        input.setCustomValidity("Remove special characters from your message");
      }
    }
    // Too short
    if (input.validity.tooShort) {
      input.setCustomValidity(
        `${input.id} may have ${input.minLength} characters minimum`,
      );
    }
    // Too long
    if (input.validity.tooLong) {
      input.setCustomValidity(
        `${input.id} may have ${input.maxLength} characters maximum`,
      );
    }
    // Wrong pattern
    if (input.validity.patternMismatch) {
      if (input.id === "Name") {
        // name
        input.setCustomValidity(
          `${input.id} can't contain special characters except "." and "-"`,
        );
      } else {
        // email
        input.setCustomValidity(`Wrong ${input.id} format`);
      }
    }
    input.reportValidity();
  }
  // Get form element
  const form = document.getElementById("contact") as HTMLFormElement;
  const inputs = form?.querySelectorAll("input");
  inputs?.forEach((input) => {
    // Check and set message on inputs
    input.addEventListener("input", (e) => {
      checkInput(input);
    });
  });
  //
  const textarea = document.querySelector("textarea");
  textarea?.addEventListener("input", (e) => {
    checkInput(textarea);
  });

  // Handling form
  form?.addEventListener("submit", (e) => {
    e.preventDefault();
    const honeyField = document.querySelector("#additionnal_info");
    if (honeyField?.textContent !== "") {
      return;
    } else {
      const encName = encodeURI(
        (document.getElementById("Name") as HTMLInputElement).value,
      );
      const encEmail = encodeURI(
        (document.getElementById("Email") as HTMLInputElement).value,
      );
      const message = textarea!.value;
      const encMessage = encodeURI(message) + `%0A` + encodeURI(encName);
      window.location.href = `mailto:contact@quaeres.fr?subject=Quaeres%20Contact%20Form&body=${encMessage}`;
    }
  });
</script>
